services:
  api:
    build:
      context: .
      dockerfile: deployments/Dockerfile
    container_name: goproject-api
    ports:
      - '8080:8080'
    volumes:
      - ./config:/config

    environment:
      - APP_ENV=${APP_ENV:-local}
